.error {
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
}

.edit-stage-form {
  .ui.image {
    margin-top: 10px;
  }
  .ui.primary.button {
    margin-top: 2px;
  }
}

.editStage{
    border: 1px solid #C4B19A;
}

.start span{
    font-weight: bold;
    font-size: 0.9rem;
}

.end span{
    font-weight: bold;
    font-size: 0.9rem;
}

.title{
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 7px;
}

.title h4 {
  font-weight: bold;
  font-size: 1.3rem;
}   

.container {
  text-align: center;
}

.editStage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.editStage p {
  font-weight: bold;
  font-size: 1.2rem;
}

.datePickerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #C4B19A;
  .custom-button {
    margin-top: 10px;
    margin-bottom: 7px;
    background: linear-gradient(315deg, #36a767 0%, #4aa63c 74%) !important;
    width: 60% !important;
    font-size: 1.3rem;
    text-align: center;
    transition: background 0.3s ease !important;
    color: white !important;
    font-size: 1.3rem !important;
  }
}

.datePickerContainer h4{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000;
}



.datePicker.ant-calendar-picker-input.ant-input:hover {
    border-color: #C4B19A !important;
  }
  
  .datePicker:hover {
    border-color: #C4B19A !important;
  }
  
  .datePicker.ant-picker-focused {
    border-color: #7a6f61 !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(189, 183, 153, 0.342) !important;
    box-shadow: 0 0 0 2px rgba(76, 82, 66, 0.342) !important;
  }
  
  .datePicker .ant-picker-active-bar {
    background-color: #000000 !important;
  }

.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner { //background seleccionar una fecha inicial
    background-color: #796e60 !important;
  }
  
  .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner { //background seleccionar una fecha final
    background-color: #796e60 !important;
  }
  
  .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner::before { //celda dia actual
/*     border-radius: 100% !important; */
    border-color: black !important;
  }
  
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
  .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before,
  .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell-selected
    .ant-picker-time-panel-cell-inner { //color al deslizar por el calendario
    background: linear-gradient(315deg, #C4B19A 45%, #D6C8BB 60%) !important;
  }
