$primary: #85807c;

img {
  text-align: center;
  width: 275px;
  box-shadow: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $primary;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $primary;
}

.error-code {
  font-size: 180px;

  .typing-effect {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.09em solid #fff;
    animation: typing 4s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 8.1ch; }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 30px;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(315deg, #456654 0%, #4AA63C 74%) !important;
    color: white;
    transition: background 2s ease !important;
    font-size: 20px;
    border-color: #4AA63C;
    border-color: transparent !important;
  }
  button:hover {
    background: linear-gradient(315deg, #4AA63C 0%, #456654 74%) !important;
    border-color: transparent !important;
  }
}
